* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 1px 5px grey;
    z-index: 999;
}

.logo img {
    height: 40px;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000;
    transition: 0.1s;
}

.hero {
    margin-top: 4.5rem;
    background-color: #2a3a5b;
    color: white;
    padding: 4rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    max-width: 600px;
    text-align: left;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.button-container {
    text-align: center;
    height: 0;
}

.btn-primary {
    display: inline-block;
    padding: 14px 28px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #f39c12;
    color: white;
    position: relative;
    top: -30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #edb050;
    transition: 0.1s;
}

.tablet-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 1rem;
    background-color: #eaebef;
    flex-wrap: wrap;
}

.tablet-img {
    max-width: 22rem;
}

.features {
    display: flex;
    gap: 3rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 7.5rem;
    color: #2a3a5b;
    font-size: 0.95rem;
}

.feature i {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.why-us {
    background-color: #cbd4c2;
    padding: 4rem 3rem;
    align-items: center;
    text-align: left;
    display: flex;
    justify-content: center;
}


.how-it-works {
    text-align: center;
    color: whitesmoke;
    padding: 4rem 1rem;
    background-color: #626d58;
}

.steps-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.step {
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    padding: 1rem;
}

.step-icon {
    font-size: 3rem;
    color: whitesmoke;
    margin-bottom: 1rem;
}

