.registration {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
padding-top: 100px;
padding-bottom: 20px;
background-color: #f2f2f2;
}

.registration-form {
background-color: white;
border: 3px solid #f1f1f1;
width: 100%;
max-width: 400px;
border-radius: 8px;
}

.registration-form h2 {
text-align: center;
margin: 20px 0;
}

.registration-form .container {
padding: 16px;
}

.registration-form input[type=email],
.registration-form input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 8px;
}

.registration-form button {
background-color: #f39c12;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
font-size: 16px;
border-radius: 8px;
}

.registration-form button:hover {
background-color: #edb050;
transition: 0.1s;
}

.registration-form .container .login-button span {
padding: 0.5rem 0;
}

.registration-form a {
text-decoration: none;
color: #359393;
}

.registration-form a:hover {
text-decoration: underline;
}

.registration-form .forgotten-password {
background-color: #f1f1f1;
text-align: right;
padding: 0.2rem 0.2rem;
}